.aside--container {
  padding: 45px;
  background-color: white;
  width: auto;
  border-radius: 50px 0 0 50px;

  @include for-phone-only {
    padding: 26px;
  }
}

.dispay--container {
  height: 700px;
}

.input-field {
  border: 1px solid #cfcbcb;
  border-radius: 20px;
  width: 250px;
  padding: 10px;
  outline: none;
}
.icon {
  padding-top: 30px;
}

.temp {
  font-size: 40px;
  height: 40px;
}

.day {
  font-size: 20px;
  height: 50px;
  border-bottom: 1px solid rgb(216, 213, 213);
}

.time {
  color: grey;
}

.mostly,
.rain {
  margin-top: 26px;
  font-weight: 700;
}

.location {
  font-size: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}
