@import "./__mixins.scss";
@import "./aside-weather.scss";
@import "./weekly-weather.scss";
@import "./today-highlights.scss";

body {
  background: #a4a6ac;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;

  @include for-phone-only {
    background: white;
  }
}

.dashboard--container {
  border-radius: 50px;
  background-color: whitesmoke;
  margin: 5vh 5vh;
  height: 90vh;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  grid-auto-rows: minmax(100px, auto);
  @include for-phone-only {
    border: none;
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr;
    grid-gap: 45px;
  }
}

.highlights {
  height: 100%;
  width: 100%;
  display: flex;
  @include for-phone-only {
    width: auto;
    margin-top: 50px;
    height: 100%;
    text-align: center;
  }
}

.aside {
  grid-column: 1;
  grid-row: 1 / 5;
  padding-top: 10px;
  background: white;
  border-radius: 50px 0 0 50px;
  background-color: white;

  @include for-phone-only {
    border: none;
    width: 100%;
    display: inline;
  }
}

.some {
  grid-row: 1 / 5;
  grid-column: 2 / 9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  @include for-phone-only {
    grid-template-columns: 1fr;
    gap: 20px;
    position: absolute;
    width: auto;
  }
}

.weekly {
  grid-column: 1 / 5;
  grid-row: 1;
  padding-right: 30px;
  width: 774px;
  @include for-phone-only {
    padding: 10px;
    width: auto;
  }
}

.today {
  grid-column: 1 / 5;
  grid-row: 2 / 7;
  padding-top: 20px;
  width: 774px;
  @include for-phone-only {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
  }
}
