@import "./mixins.scss";
@import "./aside-weather.scss";
@import "./weekly-weather.scss";
@import "./today-highlights.scss";

// #F6F6F7;
body {
  background: #a4a6ac;
  font-family: "Quicksand", sans-serif;

  @mixin for-phone-only {
    display: none;
  }
}

.dashboard--container {
  border-radius: 50px;
  background-color: whitesmoke;
  margin: 5vh 5vh;
  height: 90vh;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  grid-auto-rows: minmax(100px, auto);
}

.highlights {
  height: 100%;
  width: 100%;
  display: flex;
  @mixin for-phone-only {
    display: none;
  }
}

.aside {
  grid-column: 1;
  grid-row: 1 / 5;
  padding-top: 10px;
  background: white;
  border-radius: 50px 0 0 50px;
  background-color: white;

  @mixin for-phone-only {
    width: 400px;
    display: inline;
  }
}

.some {
  grid-row: 1 / 5;
  grid-column: 2 / 9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  @mixin for-phone-only {
    display: none;
    width: 0;
  }
}

.weekly {
  grid-column: 1 / 5;
  grid-row: 1;
  padding-right: 30px;
  width: 774px;
  @mixin for-phone-only {
    display: none;
    width: 0;
  }
}

.today {
  grid-column: 1 / 5;
  grid-row: 2 / 7;
  padding-top: 20px;
  width: 774px;
  @mixin for-phone-only {
    display: none;
    width: 0;
  }
}
